<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

 <% @team.each do |t| %>
       <h2><%= t %></h2>
       <h2><%= t %></h2>
       <h2><%= t %></h2>
       <h2><%= t %></h2>
       <h2><%= t %></h2>
       <h2><%= t %></h2>
       <h2><%= t %></h2>
     <% end %>

 </body>
</html>
